{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'core/global_style.css' %}">
  <link rel="stylesheet" href="{% static 'gap_fill/activity.css' %}">
  <script src="{% static 'core/drag_drop.js' %}" async></script>
  <script src="{% static 'gap_fill/activity.js' %}" async></script>
  <title>Gap Fill</title>
</head>
<body>  
  <!-- Make input checking url accessible to JS -->
  <input type="hidden" id="check-url" url="{% url 'gap-fill:check' %}" />

  {% include "../core/navbar.html" %} 

  <div id="main">
    <span class="activity-header">
      <h1>Drag and drop the missing words into the correct gaps</h1>
    </span>
    <div id="gap-fill-left">
      <div id="gap-fill-div">
        <div id="gap-fill-text">
          <p>{{text_list.0}}
          {% if text_list|length %}
            {% for text_block in text_list|slice:"1:" %}
              <span class="drop-slot" id="slot-{{forloop.counter}}" ondrop="drop(event)" ondragover="allowDrop(event)"></span>
              {{text_block}}
            {% endfor %}
          {% endif %}
          </p>
        </div>
      </div>
      <ul class="drop-bank" ondrop="drop(event)" ondragover="allowDrop(event)">
        {% for option in options_list %}
          <p class="drop-item" id="option-{{option.pk}}" draggable="true" ondragstart="drag(event)">{{ option }}</p>
        {% endfor %}
      </ul>
    </div>
    <div id="gap-fill-top-right">
      <h3>Score: </h3>
      <h2 id="score">0</h2>
      <h1><span id="count">0</span>/{{ options_list|length }}</h1>
    </div>
    <div id="gap-fill-bot-right">
      <button id="check-answers" onclick="check_input()">Check my answers</button>
    </div>
  </div>
  <div id="results-popup" style="visibility: hidden;">
    <span class="top-banner">
        <button onclick="closeWithoutBuying()">X</button>
    </span>
    <p id="popup-item-price"></p>
    <button id="buy-button" onclick="buyAndClose()">Buy!</button>
</div>
  <span id="scoring-fx"></span>
</body>