{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'core/global_style.css' %}">
  <link rel="stylesheet" href="{% static 'core/test.css' %}">
  <script src="{% static 'core/drag_drop.js' %}" async></script>
  <title>Gap Fill</title>
</head>
<body>
  <h2>Page for active gap fill activity</h2>
  {% for text_block in text_list %}
    <p>{{text_block}}</p>
    <div class="drop_region" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  {% endfor %}
  {% for option in gap_fill_obj.gapfilloption_set.all %}
    <p id="option {{forloop.counter}}" draggable="true" ondragstart="drag(event)" width="100px" height="30px">{{ option }}</p>
  {% endfor %}

</body>