#main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    /* border: 2px solid var(--dark-grey); */
    /* border-radius: 24px; */
    width: 90%;
    margin: 0 0 0 10%;
}

.activity-header {
    grid-area: 1 / 1 / span 1 / span 1;
    height: fit-content;
}

#gap-fill-left {
    grid-area: 2 / 1 / span 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 10% 0 0;
}

#gap-fill-top-right {
    grid-area: 1 / 2 / span 2 / span 1;
    background: var(--light-cyan);
    text-align: center;
}

#gap-fill-bot-right {
    grid-area: 3 / 2 / span 1 / span 1;
    background: var(--light-cyan);
    border-radius: 0 0 0 24px;
}

#gap-fill-div {
    display: inline-block;
    overflow-y: scroll;
    padding: 12px;
}

#gap-fill-text {
    display: inline;
    line-height: 2.5em;
    font-size: large;
}

.drop-slot {
    display: inline-block;
    justify-items: center;
    background-color: var(--light-grey);
    border-radius: 8px;
    height: 1.7em;
    width: fit-content;
    margin: 0 8px -0.65em 8px;
}

.drop-slot:empty {
    min-width: 54px;
}

.drop-slot:last-of-type {
    margin: 0 4px -0.65em 8px;
}

.drop-slot > * {
    /* remove margins from drop items while in slot */
    margin: 0;
    box-shadow: none;
}

.drop-bank {
    display: inline-block;
    background-color: var(--blue);
    border-radius: 18px;
    min-height: 200px;
    margin-top: 20px;
    padding: 16px;
}

.drop-bank > * {
    float: left;
    /* add margins to drop items while in bank */
    margin: 12px;
}

.drop-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--smoky-black) 2px 2px;
    width: fit-content;
    padding: 4px 8px;
    line-height: 1.7em;
}

.drop-item:hover {
    cursor: grab;
}

.correct-option {
    background-color: var(--green);
    border-radius: 8px;
    width: fit-content;
    padding: 4px 8px;
    line-height: 1.7em;
}

button#check-answers {
    align-self: flex-end;
    background: var(--orange);
    border: 2px solid var(--smoky-black);
    border-radius: 8px;
    box-shadow: 3px 3px var(--smoky-black);
    width: 80%;
    margin: 0 10% 24px 10%;
    padding: 8px;
    font-size: 1.4em;
    font-weight: bold;
}