{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'core/global_style.css' %}">
  <link rel="stylesheet" href="{% static 'core/navbar.css' %}">
  <title>Navbar</title>
</head>
<body>
  <nav>
    <a href="{% url 'dashboard' %}" id="dashboard-link">
      <img src="{% static 'core/image_assets/icons_and_emojis/dashboard.png' %}" class="icon">Dashboard
    </a>
    <a href="{% url 'activity_map:activity_map' %}" id="map-link">
      <img src="{% static 'core/image_assets/icons_and_emojis/map.png' %}" class="icon">Activity Map</a>
  </nav>
    

</body>